table {
    tbody {
        tr {
            td {
                line-height: 28px;

                img {
                    border-radius: 999px;
                    max-width: 28px;
                }
            }
        }
    }
}

img {
    width: 100%;
    height: auto;
}

.match {
    display: none;
}